server:
  port: 8083
  forward-headers-strategy: framework
spring:
  application:
    name: GatewayWithKeycloak
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8081/realms/cloud_env
